<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.TeacherEntityMapper" >
  <resultMap id="BaseResultMap" type="com.example.entity.TeacherEntity" >
    <id column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    <result column="class_id" property="classId" jdbcType="VARCHAR" />
    <result column="teacher_sex" property="teacherSex" jdbcType="VARCHAR" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="TeacherDtoMap" type="com.example.dto.TeacherDto" >
    <id column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    <result column="class_id" property="classId" jdbcType="VARCHAR" />
    <result column="teacher_sex" property="teacherSex" jdbcType="VARCHAR" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insertBatch">
    INSERT INTO teacher
    (teacher_id, class_id, teacher_sex, teacher_name)
    VALUES
    <foreach collection="saveList" item="item" separator=",">
      (
      #{item.teacherId},
      #{item.classId},
      #{item.teacherSex},
      #{item.teacherName}
      )
    </foreach>
  </insert>

  <update id="updateBatch1">
    UPDATE teacher
    SET teacher_sex = #{teacherSex}
    WHERE teacher_id IN
    <foreach collection="idList" index="index" item="teacherId" open="(" separator="," close=")">
      #{teacherId}
    </foreach>
  </update>

  <update id="updateBatch2">
    UPDATE teacher
    SET class_id = CASE
    <foreach collection="teacherList" item="item" index="index">
      WHEN teacher_id = #{item.teacherId} THEN #{item.classId}
    </foreach>
    END
    WHERE teacher_id IN
    <foreach collection="teacherList" index="index" item="item" open="(" separator="," close=")">
      #{item.teacherId}
    </foreach>
  </update>

  <update id="updateBatch3">
    UPDATE teacher
    <trim prefix="SET" suffixOverrides=",">
      <trim prefix="teacher_name = CASE" suffix="END,">
        <foreach collection="teacherList" item="item" index="index">
          <if test="item.teacherName != null and item.teacherName != ''">
            WHEN teacher_id = #{item.teacherId} THEN #{item.teacherName}
          </if>
        </foreach>
      </trim>
      <trim prefix="teacher_sex = CASE" suffix="END,">
        <foreach collection="teacherList" item="item" index="index">
          <if test="item.teacherSex != null and item.teacherSex != ''">
            WHEN teacher_id = #{item.teacherId} THEN #{item.teacherSex}
          </if>
        </foreach>
      </trim>
    </trim>
    WHERE
    <foreach collection="teacherList" separator="OR" item="item" index="index" >
      teacher_id = #{item.teacherId}
    </foreach>
  </update>

</mapper>